.toggle-button {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #ff00dd;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

.toggle-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 1.5px;
  width: 45px;
  height: 45px;
  background-color: blue;
  border-radius: 50%;
  transform: translateX(0);
}

.toggle-button:checked::after {
  transform: translateX(calc(100%+3px));
  background-color: #fff;
}

.toggle-button:checked {
  background-color: blue;
}
